body {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    padding: 1em;
    margin: 0;
}

main {
    display: flex;
}

section {
    width: 50%;
}

section:nth-child(2) {
    margin: 20px;
    align-self: flex-start;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

li {
    border: 2px solid black;
    border-radius: 20px;
    list-style: none;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    width: max-content;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Helvetica, sans-serif;
}

li:nth-child(3),
li:nth-child(4) {
    border: 2px dotted blue;
}

p {
    max-width: 80ch;
    transition: opacity 1s ease;
    cursor: pointer;
}

p span {
    transition: color 2s;
}

p span:hover {
    transition: color 0s;
}

p span:nth-child(1n):hover {
    color: gray;
}

p span:nth-child(2n):hover {
    color: white;
}

.kyle, .cody {
    filter: blur(2px);
    transition: filter 1s ease;
}

.kyle:hover, 
.cody:hover {
    filter: blur(0);
}

.kyle {
    color: black;
    padding-left: 1em;
}

.cody {
    color: blue;
    padding-left: 3em;
}

@media only screen and (max-width: 600px) {
   section {
       width: auto;
   }
   main {
       display: block;
   }
  }